<footer class="page-footer">
  <div class="container">
    <footer class="footer">
      <div class="wrapper">
        <div class="footer__box">
          <div class="col">
            <div class="link">
              <p>
                Читайте наш <a href="https://bumazhkin.ua/blog-ua/" target="_blank" rel="noopener noreferrer">блог</a>
              </p>
            </div>
          </div>

          <div class="col">
            <div class="link">
              <p>
                Читайте наш <a href="https://t.me/bumazhkin_news" target="_blank" rel="noopener noreferrer">Telegram канал</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</footer>