@import "../helpers/_vars";
@import "../helpers/_mixins";

.about {
  padding-top: 66px;
  @media (max-width: $note) {
    padding-top: 6px;
  }

  @media (max-width: $phone-xl) {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;

    @media (max-width: $tablet) {
      margin-left: 0;
      flex-direction: column;
    }
  }

  &__img {
    margin-top: -40px;
    margin-right: 58px;
    @media (max-width: $laptop) {
      //order: 0;
    }
    @media (max-width: $tablet) {
      margin: -50px auto 0;
      //order: 2;

      svg {
        display: block;
        max-width: 100%;
      }
    }
    @media (max-width: $note) {
      //margin-top: 20px;
    }
  }

  h2 {
    padding-bottom: 20px;
    @include section-title;
  }

  p {
    padding-bottom: 10px;
    line-height: 1.5;
  }
  &__content-new{
    .weCan{
      li{
        max-width: 590px;
        padding-left: 42px;
        font-size: 18px;
        line-height: 22px;
        color: #393939;
        &:before{
          width: 24px;
          height: 24px;
        }
      }
    }
    &-btn{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .btn{
        width: 49%;
        min-width: 280px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border-radius: 35px;
        transition: color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out,color .25s ease-in-out;
        svg{
          margin-left: 10px;
          fill: transparent;
          margin: 0px 0 -3px 10px;
        }
        &_purple{
          background: #7057D6;
          border: 2px solid #7057D6;
          &:hover{
            background: transparent;
            color: #7057D6;
            svg{
              fill: #7057d6;
            }
          }
          &-border{
            border: 2px solid #7057D6;
            color: #7057D6;
            &:hover{
              background: #7057D6;
              color: #fff;
              svg{
                fill: #fff;
              }
            }
          }
        }
      }
    }

  }
}


// Animation laptop
@media (min-width: 1025px) {
  .user-layer{
    &-in,
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8{
      opacity: 0;
    }
    &-in{
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 0.5s ease-in-out both;
        transform-origin: bottom center;
      }
    }
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8{
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 1.5s ease-in-out both;
        transform-origin: center center;
      }
    }

  }
  .laptop {
    &-line {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      opacity: 0;
    }

    &-plane,
    &-dots,
    &-email,
    &-graph,
    &-wheel,
    &-darts,
    &-geometrics,
    &-laptop {
      opacity: 0;
    }

    &-line {
      .laptop-animation & {
        animation: dash 2s linear both;
        stroke-dasharray: 2;
        stroke-dashoffset: 100;
      }
    }

    &-plane {
      .laptop-animation & {
        opacity: 1;
        animation: plane 1s linear both;
      }
    }

    &-dots {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 1.8s ease-in-out both;
        transform-origin: center center;
      }
    }

    &-email {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 1.4s ease-in-out both;
        transform-origin: center center;
      }
    }

    &-graph {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 2.4s ease-in-out both;
        transform-origin: center center;
      }
    }

    &-wheel {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 2.56s ease-in-out both;
        transform-origin: center center;
      }
    }

    &-darts {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 2.35s ease-in-out both;
        transform-origin: center center;
      }
    }

    &-geometrics {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 1.5s ease-in-out both;
        transform-origin: center center;
      }
    }

    &-laptop {
      .laptop-animation & {
        opacity: 1;
        animation: zoomIn 0.5s ease-in-out both;
        transform-origin: bottom center;
      }
    }
  }
}

@keyframes dash {
  from {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 2;
    stroke-dasharray: 10;
    opacity: 1;
  }
}

@keyframes plane {
  0% {
    opacity: 0;
    transform: translate(100px, 50px);
  }
  50% {
    transform: translate(80px, 40px);
  }
  75% {
    transform: translate(70px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media (max-width: $desktop-xl) {
}
@media (max-width: $desktop) {
}
@media (max-width: $laptop) {
}
@media (max-width: $tablet) {
}
@media (max-width: $note) {
}
@media (max-width: $phone-xl) {
}
@media (max-width: $phone) {
}
