$phone: 375px;
$phone-xl: 479px;
$note: 767px;
$tablet: 1024px;
$laptop: 1366px;
$desktop: 1680px;
$desktop-xl: 1920px;

$ff1: "Montserrat", serif;
$fs: 16px;
$lh: 20px;

$ease-out: 0.25s ease-in-out;

$orange: #fca70c;
$yellow: #ffd943;
$violet: #7057d6;
$purple: #555be4;
