<header class="header">
  <div class="wrapper">
    <div class="header__box">
      <div class="header__logo">
        <a href="/" class="header__logo-link">
          <img src="/img/logo.svg" alt="Бумажкин" title="Бумажкин"/>
          <h1 class="offscreen">Бумажкин</h1>
        </a>
      </div>

      <div class="header__info">
        <div class="header__info-row header__info-top">
          <div class="header__menu">
            <nav class="nav" id="nav">
              <h2 class="offscreen">Навигационное меню</h2>
              <button class="burger">
                <i></i>
              </button>

              <div class="overlay">
                <ul class="nav__list">




                  <li class="nav__item list-menu">
                    <a class="nav__link">Услуги</a>
                    <div class="list-menu__items">
                      <a class="list-menu__item" href="/buhgalterskie-uslugi/">Бухгалтерские услуги</a>
                      <a class="list-menu__item" href="/business-registration/ru/">Регистрация фирмы</a>
                      <a class="list-menu__item" href="/kadrovyj-uchet-bumazhkin/">Кадровый учет</a>
                      <a class="list-menu__item" href="/vnedrenie-elektronnogo-dokumentooborota/">Электронный документооборот</a>
                      <a class="list-menu__item" href="/registratsiya-fop-spd-flp/">Регистрация ФЛП</a>
                      <a class="list-menu__item" href="/registraciya-ooo-tov/">Регистрация ООО</a>
                    </div>
                  </li>
                  <li class="nav__item">
                    <a class="nav__link scrolling__link" href="#advantages">Тарифы</a>
                  </li>

                  <li class="nav__item">
                    <a class="nav__link scrolling__link" href="#review">Отзывы</a>
                  </li>

                  <li class="nav__item">
                    <a class="nav__link" href="/blog-ua">Блог</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="header__phone">
            <a href="tel:+380443945068">
              <svg class="icon icon-phone">
                <use xlink:href="./img/icons/sprite/sprite.svg#phone"></use>
              </svg>
              <span>+38 (044) 394 50 68</span>
            </a>
          </div>
          <div class="header__lang">
            <a class="active" href="/business-registration/ru/">RU</a>
            <span>/</span>
            <a href="/business-registration/">UA</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="hero__box">
        <div class="hero__content">
          <h2 class="hero__title">Поможем <br>зарегистрировать фирму и наладить процессы</h2>
          <p class="hero__text">Планируете начать свое дело?
            Это просто! От идеи до официальных документов — всего несколько шагов. </p>

          <form class="hero__form form-validate" name="order" method="POST" data-form="Открыть бизнес">
            <div class="form__item">
              <a href="#" class="btn btn-orange" data-remodal-target="callback">Открыть бизнес</a>
            </div>

            <div class="form__item">
              <a href="#advantages" class="btn btn-transparent scrolling__link">Посмотреть цены</a>
            </div>
          </form>


          <div style="visibility: hidden;">
            <p class="hero__text-small">Нажимая на кнопку “Оставить заявку” вы соглашаетесь с</p>
            <a class="hero__policy" href="">Политикой конфиденциальности</a>
          </div>
        </div>

        <div class="hero__img">
          <img src="./img/hero-image-new.svg" alt="Бухгалтер, кадровик, юрист и финансист в одном сервисе">
        </div>
      </div>
    </div>
    <div class="remodal formBox" data-remodal-id="callback">
      <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
      <form class="form form-validate" id="feedback-form" data-form="попап" method="POST" name="callback">
        <p class="form__title">Заполните заявку</p>
        <p class="form__text">менеджер свяжется с Вами для<br>уточнения деталей</p>
        <label>Имя
          <input class="input form-control" type="text" pattern="^[A-Za-zА-Яа-яЁёІіЇїЄє\s]+$" maxlenght="30" name="name" required>
        </label>
        <label>Номер телефона
          <input class="input phone-mask form-control" type="tel" name="phone" required>
        </label>
        <div class="btn-wrap">
          <input class="btn" type="submit" value="Перезвоните">
        </div>
      </form>
    </div>
  </div>
</header>